<h1>Edit home info</h1>

<form method="POST" action="/tasks/{{home._id}}/edit">

  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{home.name}}"/>

  <label for="input-address">Address</label>
  <input type="text" name="address" id="address" value="{{ home.address }}"/>

  <label for="input-zipcode">Postal Code</label>
  <input type="text" name="zipcode" id="zipcode" maxlength="12" value="{{ home.zipcode }}"/>

  <label for="input-tellphone">Telephone number:</label>
  <input type="number" name="phone" id="phone" value="{{ home.tellphone }}"/>

  <button>Edit Home</button>
</form>

<form action="/home/{{home._id}}/delete" method="POST" name="delete" id="delete">
  <button>Delete Home</button>
</form>