<h1>{{task.title}}</h1>

{{#each comments}}
  <strong>{{author.name}}:</strong><br>
  {{content}}<br>
{{/each}}

<form action="/tasks/{{task._id}}/edit">
    <input type="submit" value="Edit task information" />
</form>

<form action="/tasks/{{task._id}}/comment">
    <input type="submit" value="Add a comment" />
</form>


{{!-- <a href="/tasks/{{task._id}}/edit">Edit or delete the task</a>
<a href="/tasks/{{task._id}}/comment">Make a comment</a> --}}