<h1>{{task.title}}</h1>
<div class="row">
  <div class="col-12 col-md-8">
    {{#each comments}}
      <small>{{creationDate}}</small><br>
      <strong>{{author.name}}:</strong><br>
      {{content}}<br>
  </div>

<div class="col-6 col-md-4">
    <form style="width: 30%" action="/tasks/{{task._id}}/comments/{{_id}}/delete" method="POST" name="delete" id="delete">
      <button class="btn btn-danger rounded-lg"><ion-icon name="trash-outline" size="large"></ion-icon></button>
    </form>
  {{/each}}
</div>
</div>
  <hr>

  <div class = "d-flex flex-column justify-content-center align-items-center">

  <form style="width:30%" action="/tasks/{{task._id}}/edit">
      <input class="btn btn-outline-primary rounded-lg" type="submit" value="Edit task information" />
  </form>

  <form style="width:30%" action="/tasks/{{task._id}}/comment">
      <input class="btn btn-dark rounded-lg" type="submit" value="Add a comment" />
  </form>
</div>