<p>Single task view page!</p>
<h1>{{task.title}}</h1>

{{#each comments}}
  {{author.name}}
  {{content}}
{{/each}}

<a href="/tasks/{{task._id}}/edit">Edit or delete the task</a>
<a href="/tasks/{{task._id}}/comment">Make a comment</a>