<h1>{{home.name}}</h1>

<h4>Home members:</h4>
<ul>
  {{#each home.members}}
    <li>{{name}}<br></li>
  {{/each}}
</ul>
<h4><strong>Address: </strong>{{home.address}}</h4>
<h4><strong>Zipcode: </strong>{{home.zipcode}}</h4>
<h4><strong>Telephone: </strong>{{home.phone}}</h4>

<form action="/home/{{home._id}}/edit">
    <input type="submit" value="Edit home info" />
</form>

<form action="/tasks/{{home._id}}/create">
    <input type="submit" value="Create a new task" />
</form>

<h2>Home tasks:</h2>
<ul>
  <li>{{#each tasks}}
    <a href="/tasks/{{_id}}"><h4>
    {{title}}</h4>
    <p>Urgency: {{urgency}}</p>
    <p>price: {{price.amount}} {{price.currency}}</p>
    </a>
  {{/each}}</li>
</ul>

<form action="/home/invite/{{home._id}}" method="post">
  <label for="email">Invite someone to this house: </label>
  <input name="email" type="email" placeholder="Email here" />
  <button class="btn btn-outline-primary" type="submit">Invite!</button>
</form>

{{!-- <a href="/home/{{home._id}}/edit">Edit information about your home</a>
<a href="/tasks/{{home._id}}/create">Create a Task for your home</a> --}}