<h1>{{home.name}}</h1>

    {{#if home.pictures}}
      <figure class="card-body card d-flex flex-column justify-content-center align-items-center">
        <img class="rounded-lg" style="max-width:400px;max-height:240px"src="{{home.pictures}}" alt="{{home.name}}">
      </figure>
    {{/if}}
<hr>
    <article class="mb-5 d-flex flex-column justify-content-center align-items-center" style="margin">
      <div class="container margin">
        <div class="row">
            <div class="col">
              <h5 class="d-flex flex-column justify-content-center align-items-center"> <strong>Home members</strong></h5>
              <ul class="d-flex flex-column justify-content-center align-items-center">
                {{#each home.members}}
                <li>{{name}}<br></li>
                {{/each}}
              </ul>
            </div>
            <div class="col">
              <h5 class="d-flex flex-column justify-content-center align-items-center"><strong>Home info</strong></h5>
              <ul>
                <li>Address: {{home.address}}</li>
                <li>Zipcode: {{home.zipcode}}</li>
                <li>Telephone: {{home.phone}}</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </article>

<div class ="d-flex flex-column justify-content-center align-items-center">
  <form action="/tasks/{{home._id}}/create">
      <input class="btn-dark btn rounded-lg" type="submit" value="Create a new task" />
  </form>

  <form  action="/home/{{home._id}}/edit">
      <input class="btn-outline-primary btn rounded-lg" type="submit" value="Edit home info" />
  </form>

</div>
  <hr> 
<div class="d-flex flex-column justify-content-center align-items-center">
<h5><strong>Your task list</strong></h5>
  <ul style="li" class="li" >
    <li style="li" class="li" >{{#each tasks}}
        <a style="li" class="li btna2" href="/tasks/{{_id}}">
          <h6 style="li" class="li" >{{title}} (Urgency - {{urgency}}{{#if price.amount}} /  Price - {{price.amount}} {{price.currency}}){{else}}) {{/if}}</h6>
        </a>
      {{/each}}</li>
    </ul>
  </div>
<hr>
<div class = "d-flex flex-column justify-content-center align-items-center rounded-lg">
  <form style="width: 50%"action="/home/invite/{{home._id}}" method="post">
    <label for="email">Invite your flatmates & loved ones to join this list :) </label>
    <input name="email" type="email" placeholder="Email here" />
    <button class="btn btn-outline-primary rounded-lg" type="submit">Invite!</button>
  </form>
</div>