<h1>Edit home info</h1>

  <div class = "d-flex flex-column justify-content-center align-items-center">
    
    <form style="width: 50%"="POST" action="/home/{{home._id}}/edit" enctype="multipart/form-data">

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{home.name}}"/>

      <label for="input-address">Address</label>
      <input type="text" name="address" id="address" value="{{ home.address }}"/>

      <label for="input-zipcode">Postal Code</label>
      <input type="text" name="zipcode" id="zipcode" maxlength="12" value="{{ home.zipcode }}"/>

      <label for="input-tellphone">Telephone number</label>
      <input type="number" name="phone" id="phone" value="{{ home.phone }}"/>

      <label for="pictures">Picture</label>
      <input type="file" accept="image/*" value={{ home.pictures }} id="pictures" name="pictures" />

      <button class="btn btn-dark rounded-lg">Edit Home</button>
    </form>

    <form style="width: 50%" action="/home/{{home._id}}/delete" method="POST" name="delete" id="delete">
      <button class="btn btn-dark rounded-lg">Delete Home</button>
    </form>
  </div>